* {
  padding: 0;
  margin: 0;
}
/* Header */
.header-banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
.header-banner-text {
  font-size: 2.2em;
  color: #018706;
  font-family: "Ephesis", cursive;
  font-style: italic;
}
.header-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-img {
  width: 30%;
  height: auto;
  border: 3px solid grey;
  border-radius: 50%;
  
}

/* Navigation */
a {
  text-decoration: none;
  color: white;
}
.header-navigation {
  display: flex;
  text-decoration: none;
  background-color: #018706;
  justify-content: space-around;
  color: white;
  list-style-type: none;
  padding: 1%;
  padding-left: 10%;
  padding-right: 10%;
}

/* Body Herosection */
.body-herosection {
  display: flex;
  margin-bottom: 10px;
}
.body-herosection-img {
  width: 50%;
}

/* Body Details */
.body-details-container {
  display: flex;
}
.body-details-img {
  width: 100%;
  height: auto;
}
.body-details-content {
  margin-left: 10px;
}
.body-details-title {
  color: rgb(250, 3, 250);
}
.body-details-list {
  color: rgb(18, 201, 201);
  font-style: italic;
  margin-left: 20px;
}

li::marker {
  color: rgb(186, 182, 182);
}

/* Order  */

.body-order {
  display: flex;
  justify-content: space-between;
  padding: 10px 20%;
}
.order-menu,
.order-cart {
  padding: 10px 10px;
}
.order-menu-header {
  color: white;
  background-color: #018706;
  text-align: center;
  padding: 6px 0;
}
.order-menu-list {
  background-color: #e6e3e4;
}
.order-menu-item {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
.menu-item-price {
  color: rgb(231, 153, 8);
}
.order-btn {
  margin-top: 7px;
  width: 80px;
  padding: 7px 5px;
  margin-left: 50%;
  background-color: #eb7813;
  border-radius: 5px;
  border: none;
  color: white;
}
.order-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* Order Cart */
.cart-item {
  background: #e6e3e4;
  height: fit-content;
  display: block;
  padding: 10px;
}
.cart-total {
  background: rgb(231, 153, 8);
  text-align: center;
  padding: 15px;
  color: white;
  font-size: medium;
}

/* Footer */
.footer {
  background: #018706;
  color: white;
  padding: 10px;
  text-align: center;
  line-height: 25px;
}

/* Responsive */
.mobile-menu-icon {
  display: none;
}
.mobile-navigation {
  background: #1b1d21;
  width: 150px;

  color: black;
  position: absolute;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  list-style-type: none;
  padding: 2%;
}
.mobile-navigation li {
  padding: 3%;
}
.mobile-navigation a {
  color: #a0a0a6;
  font-family: Arial, Helvetica, sans-serif;
  padding: 4%;
}
.mobile-navigation a:hover {
  background: #30333a;
  color: white;
  border-radius: 10px;
}
.mobile-navigation {
  display: none;
}

@media screen and (max-width: 602px) {
  .body-details-container,
  .body-herosection,
  .body-order {
    display: block;
  }
  .body-herosection-img {
    width: 100%;
  }

  .header-navigation {
    display: none;
  }
  .header-navigation li {
    float: none;
    width: 100%;
  }

  .header-navigation li a {
    text-align: left;
  }
  .mobile-menu-icon {
    display: inline;
    margin-left: 5px;
    font-size: 25px;
    cursor: pointer;
    background: transparent;
  }
  .mobile-navigation.show {
    display: block;
  }
  .header-banner-text {
    font-size: 1.8em;
  }
}
